<!DOCTYPE html>
<html>
<head>
  <script src="face-recognition.min.js"></script>
  <script src="axios.min.js"></script>
  <script src="commons.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <div class="center-content page-container">
    <div id="navbar"></div>
    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <img id="img" src="" />
      <canvas id="overlay" style="position: absolute; top: 0; left: 0;" />
    </div>
    <div class="row side-by-side">
      <div id="selectList"></div>
      <div class="row">
        <label for="minConfidence">Min Confidence:</label>
        <input disabled value="0.7" id="minConfidence" type="text" class="bold">
      </div>
      <button
        class="waves-effect waves-light btn"
        onclick="onDecreaseThreshold()"
      >
        <i class="material-icons left">-</i>
      </button>
      <button
        class="waves-effect waves-light btn"
        onclick="onIncreaseThreshold()"
      >
        <i class="material-icons left">+</i>
      </button>
    </div>
  </div>

  <script>
    let minConfidence = 0.7
    let net, result

    function onIncreaseThreshold() {
      minConfidence = Math.min(facerecognition.round(minConfidence + 0.1), 1.0)
      $('#minConfidence').val(minConfidence)
      updateResults()
    }

    function onDecreaseThreshold() {
      minConfidence = Math.max(facerecognition.round(minConfidence - 0.1), 0.1)
      $('#minConfidence').val(minConfidence)
      updateResults()
    }

    async function updateResults() {
      result = await net.locateFaces(
        await facerecognition.mediaSrcToImageData($(`#img`).get(0).src),
        minConfidence
      )
      facerecognition.drawMediaToCanvas('overlay', 'img')
      facerecognition.drawDetection('overlay', result)
    }

    async function onSelectionChanged(uri) {
      const imgBuf = await fetchImage(uri)
      $(`#img`).get(0).src = await facerecognition.bufferToImgSrc(imgBuf)
      updateResults()
    }

    async function run() {
      net = await initFaceDetectionNet()
      $('#loader').hide()
      onSelectionChanged($('#selectList select').val())
    }

    $(document).ready(function() {
      renderNavBar('#navbar', 'face_detection')
      renderImageSelectList(
        '#selectList',
        async (uri) => {
          await onSelectionChanged(uri)
        },
        1
      )
      run()
    })
  </script>
</body>
</html>