<!DOCTYPE html>
<html>
<head>
  <script src="face-recognition.min.js"></script>
  <script src="axios.min.js"></script>
  <script src="commons.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <div class="center-content page-container">
    <div id="navbar"></div>

    <div>
      <div class="progress" id="loader">
        <div class="indeterminate"></div>
      </div>
      <div class="row side-by-side">
        <div class="center-content">
          <img id="face1" src="" class="margin"/>
          <div id="selectList1"></div>
        </div>
        <div class="center-content">
          <img id="face2" src="" class="margin"/>
          <div id="selectList2"></div>
        </div>
      </div>
      <div class="row">
        <label for="distance">Distance:</label>
        <input disabled value="-" id="distance" type="text" class="bold">
      </div>

    </div>
  </div>

  <script>
    const threshold = 0.6
    let net, descriptors = { desc1: null, desc2: null }

    function updateResult() {
      const distance = facerecognition.round(
        facerecognition.euclideanDistance(descriptors.desc1, descriptors.desc2)
      )
      let text = distance
      let bgColor = '#ffffff'
      if (distance > threshold) {
        text += ' (no match)'
        bgColor = '#ce7575'
      }
      $('#distance').val(text)
      $('#distance').css('background-color', bgColor)
    }

    async function computeDescriptorFromSrc(imgEl) {
      return net.computeFaceDescriptor(
        await facerecognition.mediaSrcToImageData(imgEl.src)
      )
    }

    async function onSelectionChanged(which, uri) {
      const imgBuf = await fetchImage(uri)
      const imgEl = $(`#face${which}`).get(0)
      imgEl.src = await facerecognition.bufferToImgSrc(imgBuf)
      descriptors[`desc${which}`] = await computeDescriptorFromSrc(imgEl)
    }

    async function run() {
      net = await initFaceRecognitionNet()
      $('#loader').hide()
      await onSelectionChanged(1, $('#selectList1 select').val())
      await onSelectionChanged(2, $('#selectList2 select').val())
      updateResult()
    }

    $(document).ready(function() {
      renderNavBar('#navbar', 'face_similarity')
      renderFaceImageSelectList(
        '#selectList1',
        async (uri) => {
          await onSelectionChanged(1, uri)
          updateResult()
        },
        { className: 'sheldon', imageIdx: 1 }
      )

      renderFaceImageSelectList(
        '#selectList2',
        async (uri) => {
          await onSelectionChanged(2, uri)
          updateResult()
        },
        { className: 'howard', imageIdx: 1 }
      )
      run()
    })

  </script>

</body>
</html>