<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="commons.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <div id="navbar"></div>
  <div class="center-content page-container">
    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <video src="media/bbt.mp4" onplay="onPlay(this)" autoplay muted></video>
      <canvas id="overlay" />
    </div>
    <div class="row side-by-side">
      <div class="row">
        <label for="minConfidence">Min Confidence:</label>
        <input disabled value="0.7" id="minConfidence" type="text" class="bold">
      </div>
      <button
        class="waves-effect waves-light btn"
        onclick="onDecreaseThreshold()"
      >
        <i class="material-icons left">-</i>
      </button>
      <button
        class="waves-effect waves-light btn"
        onclick="onIncreaseThreshold()"
      >
        <i class="material-icons left">+</i>
      </button>
    </div>
    <div class="row side-by-side">
      <div class="row">
        <label for="time">Time:</label>
        <input disabled value="-" id="time" type="text" class="bold">
      </div>
      <div class="row">
        <label for="fps">Estimated Fps:</label>
        <input disabled value="-" id="fps" type="text" class="bold">
      </div>
    </div>
  </div>

  <script>
    let minConfidence = 0.7
    let net, result

    function onIncreaseThreshold() {
      minConfidence = Math.min(faceapi.round(minConfidence + 0.1), 1.0)
      $('#minConfidence').val(minConfidence)
    }

    function onDecreaseThreshold() {
      minConfidence = Math.max(faceapi.round(minConfidence - 0.1), 0.1)
      $('#minConfidence').val(minConfidence)
    }

    function displayTimeStats(timeInMs) {
      $('#time').val(`${timeInMs} ms`)
      $('#fps').val(`${faceapi.round(1000 / timeInMs)}`)
    }

    async function onPlay(videoEl) {
      if(videoEl.paused || videoEl.ended)
        return false

      const input = new faceapi.NetInput(videoEl)
      const { width, height } = input
      const canvas = $('#overlay').get(0)
      canvas.width = width
      canvas.height = height

      const ts = Date.now()
      result = await net.locateFaces(input, minConfidence)
      displayTimeStats(Date.now() - ts)

      faceapi.drawDetection('overlay', result.map(det => det.forSize(width, height)))
      setTimeout(() => onPlay(videoEl))
    }

    async function run() {
      net = new faceapi.FaceDetectionNet()
      await net.load('/')
      $('#loader').hide()
    }

    $(document).ready(function() {
      renderNavBar('#navbar', 'face_detection_video')
      run()
    })
  </script>
</body>
</html>