sudo: required
language: node_js
node_js:
  - "node"
  - "10"
  - "8"
  - "6"
env:
  - BACKEND_CPU=true EXCLUDE_UNCOMPRESSED=true
addons:
  chrome: stable
install: npm install
before_install:
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - sleep 3 # give xvfb some time to start
script:
  - npm run test-travis
  - npm run build