<!DOCTYPE html>
<html>
<head>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/faceDetectionControls.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>

<div id="bsm-container">

    <div class="progress" id="loader">
        <div class="indeterminate"></div>
    </div>
    <div id="bsm-video">
        <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
        <canvas id="overlay"/>
    </div>

    <div class="row side-by-side" style="display: none">

        <!-- face_detector_selection_control -->
        <div id="face_detector_selection_control" class="row input-field" style="margin-right: 20px;">
            <select id="selectFaceDetector">
                <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
                <option value="tiny_face_detector">Tiny Face Detector</option>
                <option value="mtcnn">MTCNN</option>
            </select>
            <label>Select Face Detector</label>
        </div>

    </div>

    <!-- tiny_face_detector_controls -->
    <span id="tiny_face_detector_controls" style="display: none">
      <div class="row side-by-side">

        <div class="row">
          <label for="scoreThreshold">Score Threshold:</label>
          <input disabled value="0.7" id="scoreThreshold" type="text" class="bold">
        </div>
      </div>
    </span>
    <!-- tiny_face_detector_controls -->
    <!-- mtcnn_controls -->
</div>
</body>

<script>
	let forwardTimes = []
	let withBoxes = true

	function onChangeHideBoundingBoxes(e) {
		withBoxes = !$(e.target).prop('checked')
	}

	async function onPlay() {
		const videoEl = $('#inputVideo').get(0)

		if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
			return setTimeout(() => onPlay())

		const options = getFaceDetectorOptions()

		const ts = Date.now()

		const result = await faceapi.detectSingleFace(videoEl, options).withFaceExpressions()

		if (result) {
			const canvas = $('#overlay').get(0)
			const dims = faceapi.matchDimensions(canvas, videoEl, true)

			const resizedResult = faceapi.resizeResults(result, dims)
			const minConfidence = 0.05
			if (withBoxes) {
				faceapi.draw.drawDetections(canvas, resizedResult)
			}
			faceapi.draw.drawFaceExpressions(canvas, resizedResult, minConfidence)
		}

		setTimeout(() => onPlay())
	}

	async function run() {
		// load face detection and face expression recognition models
		await changeFaceDetector(TINY_FACE_DETECTOR)
		await faceapi.loadFaceExpressionModel('/')
		changeInputSize(224)

		// try to access users webcam and stream the images
		// to the video element
		const stream = await navigator.mediaDevices.getUserMedia({video: {width: 925, height: 520 }})
		const videoEl = $('#inputVideo').get(0)
		videoEl.srcObject = stream
	}

	function updateResults() {
	}

	$(document).ready(function () {
		initFaceDetectionControls()
		run()
	})
</script>
</body>
</html>
