<!DOCTYPE html>
<html>
<head>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/faceDetectionControls.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>

<div id="bsm-container">

    <div class="progress" id="loader">
        <div class="indeterminate"></div>
    </div>
    <div id="bsm-video">
        <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
        <canvas id="overlay"/>
    </div>

    <div class="row side-by-side" style="display: none">

        <!-- face_detector_selection_control -->
        <div id="face_detector_selection_control" class="row input-field" style="margin-right: 20px;">
            <select id="selectFaceDetector">
                <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
                <option value="tiny_face_detector">Tiny Face Detector</option>
                <option value="mtcnn">MTCNN</option>
            </select>
            <label>Select Face Detector</label>
        </div>

    </div>

    <!-- tiny_face_detector_controls -->
    <span id="tiny_face_detector_controls" style="display: none">
      <div class="row side-by-side">

        <div class="row">
          <label for="scoreThreshold">Score Threshold:</label>
          <input disabled value="0.7" id="scoreThreshold" type="text" class="bold">
        </div>
      </div>
    </span>
    <!-- tiny_face_detector_controls -->
    <!-- mtcnn_controls -->
</div>
</body>

<script>
	let withBoxes = true
	let predictedAges = []
	let ctx = null
	// 加载背景图
	let img = document.createElement('img'); //创建img元素
	img.src = '../image/info.png';

	let avatar = document.createElement('img'); //创建img元素
	avatar.src = '../image/avatar.png';

	let title = document.createElement('img'); //创建img元素
	title.src = '../image/title.png';

	function onChangeHideBoundingBoxes(e) {
		withBoxes = !$(e.target).prop('checked')
	}

	function interpolateAgePredictions(age) {
		predictedAges = [age].concat(predictedAges).slice(0, 30)
		const avgPredictedAge = predictedAges.reduce((total, a) => total + a) / predictedAges.length
		return avgPredictedAge
	}

	async function onPlay() {
		const displaySize = {width: 925, height: 520}
		// resize the overlay canvas to the input dimensions
		const canvas = document.getElementById('overlay')
		faceapi.matchDimensions(canvas, displaySize)

		const videoEl = $('#inputVideo').get(0)

		if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
			return setTimeout(() => onPlay())

		const options = getFaceDetectorOptions()

		const detectionsWithExpressions = await faceapi
			.detectAllFaces(videoEl, options)
			.withFaceLandmarks()
			.withFaceExpressions()

		// 添加年龄
		const results = await faceapi.detectAllFaces(videoEl, options)
			.withFaceLandmarks()
			.withAgeAndGender()

		// resize the detected boxes and landmarks in case your displayed image has a different size than the original
		const resizedResults = faceapi.resizeResults(detectionsWithExpressions, displaySize)

		const minProbability = 0.05
		//faceapi.draw.drawFaceExpressions(canvas, resizedResults, minProbability)

		// results.forEach(result => {
		// 	// 设置drawLabelOptions
		// 	// const {age, gender, alignedRect} = result
		// 	// const {x, y, width, height} = alignedRect.box
		// 	// const textLabel = {
		// 	// 	text: [
		// 	// 		`${faceapi.round(age, 0)} years`,
		// 	// 		`${gender}`
		// 	// 	],
		// 	// 	anchorPosition: 'TOP_LEFT',
		// 	// 	backgroundColor: 'rgba(0, 0, 0, 0.5)'
		// 	// }
		// 	// const interpolatedAge = interpolateAgePredictions(age)
		// 	// const text = new faceapi.draw.DrawTextField(
		// 	// 	[
		// 	// 		`${faceapi.round(interpolatedAge, 0)} years`,
		// 	// 		`${gender}`
		// 	// 	],
		// 	// 	result.detection.box.bottomLeft
		// 	// )
		// 	// const boxOptions = {
		// 	// 	label: `${gender}`,
		// 	// 	lineWidth: 2,
		// 	// 	boxColor: '#469df4',
		// 	// 	drawLabelOptions: text
		// 	// }
		// 	// const box = {x, y, width, height}
		// 	// new faceapi.draw.DrawBox(box, boxOptions).draw(canvas)
		// })
		// 绘制矩形框
		if (ctx) {
			results.forEach(result => {
                console.log('result',result)
				// 绘制信息边框
				const {age, gender, alignedRect} = result
				const {x, y, width, height} = alignedRect.box
				ctx.drawImage(img, x, y, width, height)

				// 绘制头像边框
				const avatarX =  x - 23 + width/2
				const avatarY = y - 40
				ctx.drawImage(avatar, avatarX, avatarY, 46, 32)

                //绘制标题
				const titleX =  x - 71 + width/2
				const titleY = y-10
				ctx.drawImage(title, titleX, titleY, 142, 26)

                //绘制字
				ctx.font = '16px sans-serif'; //设置font
				ctx.textAlign = "center";
				ctx.fillStyle = "#ffffff";
				const titleTextX =  x - 2 + width/2
				const titleTextY = y + 8
				ctx.fillText("英俊潇洒", titleTextX,titleTextY)
			})
		}
		setTimeout(() => onPlay(),100)
	}

	async function run() {
		// load face detection and face expression recognition models
		await changeFaceDetector(TINY_FACE_DETECTOR)
		faceapi.tf.getBackend()
		await faceapi.loadFaceLandmarkModel('/')
		await faceapi.loadFaceExpressionModel('/')
		await faceapi.nets.ageGenderNet.load('/')

		changeInputSize(416)

		// try to access users webcam and stream the images
		// to the video element
		const stream = await navigator.mediaDevices.getUserMedia({video: {width: 925, height: 520}})
		const videoEl = $('#inputVideo').get(0)
		videoEl.srcObject = stream

		const canvas = document.getElementById('overlay')
		ctx = canvas.getContext("2d")
		ctx.globalCompositeOperation="source-over";
	}

	function updateResults() {
	}

	$(document).ready(function () {
		initFaceDetectionControls()
		run()
	})
</script>
</html>
