.page-container {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.margin {
  margin: 20px;
}

img {
  width: 150px;
  height: 150px;
}